@use "@/styles/variables" as *;

.character-card {
  min-height: 245px;
  width: 200px;
  &__image {
    width: 100%;
    height: auto;
    display: block;
  }
  &__info {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000000;

    .character-name {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    clip-path: polygon(
      0 0,
      /* top-left */ 100% 0,
      /* top-right */ 100% 86%,
      /* near bottom-right */ 86% 100%,
      /* inward diagonal cut */ 0 100% /* bottom-left */
    );
  }

  .ruler {
    border-top: solid 5px $marvel-red;
  }

  @media (max-width: 1024px) {
    width: 180px;
  }
}
