@use "@/styles/variables" as *;

.cards-grid {
  padding: 0 48px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax($card-image-width-desktop, 1fr)
  );
  gap: 16px;
  justify-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax($card-image-width, 1fr));
  }

  @media (max-width: 640px) {
    padding: 0 16px;
    grid-template-columns: repeat(auto-fill, minmax($card-image-width, 1fr));
  }
}
