*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Custom CSS Variables
  --card-image-width: 180px;
  --card-image-width-desktop: 200px;
}

body {
  display: flex;
  place-items: center;
  // min-width: 320px;
  width: 100%;
  min-height: 100dvh;
}
